<!DOCTYPE html>
<html>
<head>
    <title>{{- .title -}}</title>
    <link href="css/site.css" rel="stylesheet" />
<head>
<body>
    <header>
        <h1>{{.title}}</h1>
    </header>
    <section>{{.content}}</section>
    <nav>{{.nav}}</nav>
    <footer>
    copyright &copy; 2014-2017 R. S. Doiel<br />
    see: <a href="license.html">LICENSE</a>
    </footer>
</body>
</html>
